
body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

header {
    border-bottom: black solid 4px;
    padding: 5px;
}

a {
    text-decoration: none;
}

#currentPage {
    color: #736CED;
    border-bottom: #736CED dashed 6px;
}

.bottomNav {
    text-align: right;
    margin-top: 10px;
}

.bottomNav a {
    color: #D1ADFF;
    margin-right: 10px;
    font-weight: bold; 
    font-size: 40px;
    transition: 200ms ;

}

.bottomNav a:hover {
    color: #736CED;
}



#logo {
    height: 110px;
    width: 120px;
    display: inline-block;
    margin-top: 10px;
}

.nav {
    width: 80%;
    float: right;
    
    margin-right: 10px;
}

.topNav {
    text-align: right;
}

.topNav svg {
    width: 16px;
    margin-left: 4px;
}

.topNav a {
    color: #FC678A;

}

#signup {
    margin-right: 40px;
    margin-left: 10px;
    padding-left: 10px;
    border-left: #7b7b7b solid 2px;
}


input:focus {
    outline: none;
}

#formContainer form{
    width: 80%;
    margin-right: auto;
    margin-left: auto;

}

#createDesign label {
    color:#736CED;
    font-size: 20px;
    margin-left: 7px;
}

#createDesign input {
    border:none;
    border-right: #736CED 2px solid;
    padding-top:5;
    padding-bottom: 5px;
    margin:0;
    width: 250px;
    
}

#createDesign br {
    display:block;
    margin:5px;
}

.inputWrapper {
    border: black solid 1px;
    width: fit-content;
    margin:0;
    padding: 1px 2px 2px 15px;
}


#measureTable {
    margin: 0;
    border: 1px black solid;
    border-collapse: collapse;
}

td input {
    border: white 2px solid;
    
    width: 30px;
    text-align: center;
    margin-left: 5px;
    transition: 200ms;
}

td input:hover, td input:focus {
    border-bottom: #736CED 2px solid;
}

td  {
    border: black solid 1px;
    padding: 5px;
}

